.cartitems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
}

.cartitems img{
    width: 5rem;
    height: 5rem;
}

.bot-block{
    display: flex;
    width: 10rem;
}

.btn-inc-dec{
    background-color: inherit;
    border: none;
    width: 2rem;
}