.Item{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 20vw;
    height: 30vh;
    justify-content: space-between;
}

.Item img{
    width: 5vw;
    height: 10vh;
}

.item-top{
    width: 20vw;
    height: 20vh;
}

.item-bot{
    width: 20vw;
    height: 12vh;
}

