*{
    width: 100%;
    text-align: center;
}

.Navbar{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    height: 7rem;
    align-items: center;
    font-size: 1.3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0rem 1rem 2rem;
    background-color: aliceblue;
    color: black;
    margin-bottom: 2rem;
}

.Navbar img{
    width: 1.4rem;
    height: 1.7rem;
}

a{
    text-decoration: none;
    color: black;
}

.links{
    display: flex;
    justify-content: space-around;
}

.header{
    font-size: 2rem;
    font-weight: bold;
}

.cart{
    position: relative;
}

.count{
    position: absolute;
    top:0.1rem;
    left:0.1rem;
    color: azure;
    font-size: 0.8rem;
}